<% provide(:title, 'Build a career in analytics with Great Lakes') %>

<script type="text/javascript">
$(document).ready(function()
{
var URLParser = function (url) {
    this.url = url || window.location.href;
    this.urlObject = this.parse(); 
};

URLParser.prototype = {
    constructor : URLParser,
    
    parse : function (url) {
        var tempArr,
            item,
            i,
            returnObj = {};
        this.url = url || this.url;
        tempArr = this.url.split("?");
        returnObj.baseURL = tempArr[0];
        returnObj.params = {};
        if (tempArr.length > 1) {
            returnObj.queryString = tempArr[1];
            tempArr = tempArr[1].split("&");
            for (i = 0; i < tempArr.length; i++) {
                item = tempArr[i].split("=");
                returnObj.params[item[0]] = item[1];    
            }
        } else {
            returnObj.queryString = "";
        }
        
        return returnObj;
    },
    
    toString : function () {
        var strURL = this.urlObject.baseURL + "?",
            paramObj = this.urlObject.params,
            prop;
        for (prop in paramObj) {
            if (paramObj.hasOwnProperty(prop)) {
                strURL += prop + "=" + paramObj[prop] + "&";
            }
         }
        return strURL.substr(0, strURL.length - 1);
    },
    
    removeParams : function (removeArray) {
        var paramObj = this.urlObject.params,
            key,
            i;
        if (removeArray instanceof Array) {
            for (i = 0; i < removeArray.length; i++) {
                key = removeArray[i];
                if (paramObj.hasOwnProperty(key)) {
                    delete paramObj[key];
                }
            }
        }
    },
    
    addParams : function (paramObj) {
        var params = this.urlObject.params,
            key;
        if (typeof paramObj === "object") {
            for (key in paramObj) {
                if (paramObj.hasOwnProperty(key)) {
                    params[key] = paramObj[key];
                }
            }
        }
    }
};

var up = new URLParser();
var urlObj = up.parse(window.location.href);
var soksid=urlObj.params['soksid'];
var utm_source=urlObj.params['utm_source'];
var utm_campaign=urlObj.params['utm_campaign'];
var Soksid = document.getElementById("soksid");
Soksid.value = urlObj.params['soksid'];
var Utmsource = document.getElementById("utmsource");
utmsource.value = urlObj.params['utm_source'];
var Utmcampign = document.getElementById("utmcampaign");
utmcampaign.value = urlObj.params['utm_campaign'];
});

</script>

<style type="text/css"> 
.navbar{display:none;}
.textbox{border:1px solid #c1c1c1 !important;
  border-radius:5px !important;
  padding:18px 20px !important;
  margin:5px 30px !important;
  width:71% !important;
  font:13px 'Open sans' !important;
  color:#696969 !important;}
  body{
  margin:0px;
  background:#5a5a5a;
  font:15px 'Open sans'!important;
  color:#363636;
  line-height:22px;
}
h2{
  font-size:24px !important;
  font-family:Gadugi!important;
  color:#d31a2b;
  margin:10px 0px 0px 0px;
  padding:0px;
}
h3{
  font-size:30px !important;
  font-family:Gadugi!important;
  color:#fff;
  margin:0px 0px 30px 0px;
  padding:0px;
  text-align:center;
}
h4{
  font-size:40px!important;
  font-family:Gadugi!important;
  color:#353942;
  margin:0px 0px 30px 0px;
  padding:0px;
}
form {
margin: 0 0 0px;
}
p {margin: 0px 0px 30px;}
</style>  

<!-- <div class="row">
 <div class="container">

  <div class="span12" >
  <div class="wrap_box">

  <h1 style="text-align:center;color:#ddd;">Your Gateway to a management career in Analytics</h1>
  <div style="background:url('/assets/top_bg.png');float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;">
<table><tr><td style="padding:55px;">
  <%#= image_tag('gllogo.png',:width=>"360", :height=>"130") %>
</td>
<td style="padding:55px;font-size:18px;">
  <h1>Post Graduate Program in Business Analytics @ Greatlakes Delhi</h1>
  <b>11-month</b> blended program (classroom + online) designed for <b>working professionals</b>
</td></tr></table>
  </div>
    <div style="background:url('/assets/banner_bg.png');float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;width: 104%;height: 365px;margin-left: -18px;box-shadow: 0px 5px 8px 5px #333;margin-bottom: 15px;">
<table style="width: 100%;">
   <%#= image_tag('corner_ribbon.png',:style=>"float:left;position: absolute;margin-left: -0.85%;
margin-top: -.5%;") %>


  <tr><td style="text-align: right;">
      <%#= image_tag('info_banr.png') %>
</td>
<td >
  <div style="margin-top:20px;margin-left: 50px;background:url('/assets/form_bg.png');width:450px;height:332px;">
    <div id='crmWebToEntityForm' align=center>
    <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset = UTF-8'>  
  <form action='https://crm.zoho.com/crm/WebToLeadForm' name='WebToLeads788461000000067005' method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' 
  accept-charset='UTF-8' ><table border=0 cellspacing=0 cellpadding=5 
  width=250 style='float:right;margin: 100px 0px 0px 0px;'>  <input type='text' 
  style='display:none;' name='xnQsjsdp' value='SxGdQuLItuBthYo@kRl79w$$'/> 
  <input type='hidden' name='zc_gad' 
  id='zc_gad' value=''/>  <input type='text' style='display:none;' 
  name='xmIwtLD' value='mJKTOQCzg8feKQxKK0wA4HYDTxR5kYBU'/>  
  <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='/> 
  <input type='text' style='display:none;' name='returnURL' value='http://pgpba.greatlakes.edu.in/' /> 
  <tr><td colspan='2' align='left' 
style='font-size:22px;font-style:italic;display:none;'><strong>Free instant access</strong></td></tr>
  <tr><td nowrap style='font-family:sans-serif;font-size:12px;display:none;font-weight:bold' align='right' width='1%' >Last Name &nbsp;&nbsp;:</td><td 
  width='75%'><input type='text' maxlength='80' name='Last Name' placeholder="Name*" /> 
  </td></tr><tr><td width='75%'><input 
  type='text' maxlength='100' name='Email' placeholder="Email*"/> </td></tr><tr><td width='75%'><input 
  type='text' maxlength='30' name='Phone' placeholder="Phone*" /> </td></tr>
<tr><td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold;display:none;' align='right' width='25%'>UTM Source &nbsp;&nbsp;</td><td width='75%'><input type='hidden' maxlength='55' id="utmsource" name='LEADCF1' /> </td></tr><tr><td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold;display:none;' align='right' width='25%'>SOKSID &nbsp;&nbsp;:</td><td width='75%'>
<input type='hidden' maxlength='55' name='LEADCF3' id="soksid" /> </td></tr>
<tr><td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold;display:none;' align='right' width='25%'>UTM_Campaign &nbsp;&nbsp;:</td><td width='75%'>
  <input type='hidden' maxlength='55' name='LEADCF5' id="utmcampaign" /> </td></tr> 
<tr><td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;display:none;'>Naukri Group </td><td style='width:250px;' ><input type='hidden' style='width:250px;' value=" <%= request.fullpath() %>"  maxlength='56' name='LEADCF4' /></div> </td></tr><tr>
  <tr><td  
  align=center> <input type='submit' name='save' value="Get It Now " onclick="try{ _sokrati_registration(); }catch(err){}" style="background: #2a478d;font-size: 20px;color: #fff;border: none;">  </td></tr></table>
  <script> var mndFileds=new Array('Last Name');var fldLangVal=new Array('Last Name');function 
  checkMandatery(){for(i=0;i<mndFileds.length;i++){ var 
  fieldObj=document.forms['WebToLeads788461000000067005'][mndFileds[i]];if(fieldObj) 
  {if(((fieldObj.value).replace(/^\s+|\s+$/g, 
  '')).length==0){alert(fldLangVal[i] +' cannot be empty'); 
  fieldObj.focus(); return false;}else 
  if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert(fldLangVal[i] 
  +' cannot be none'); fieldObj.focus(); return false;}}else { window.open("/download_pdf_pgpba");}}}}</script>  
  </form></div>
</div>
</td></tr></table>
  </div>
  <h1 style="text-align:center;font-weight: normal;">About the Program</h1>
  <div style="float:left;width:100%;text-align: center;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;">
          <%#= image_tag('about_pgrogram.png', :style=>"width:100%;") %>
</div>
   <div style="float:left;width:97%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;padding: 20px;">

<table cellpadding="5" style="font-size:16px;"><tr><td><h4>CONTACT US</h4></td><td><i class="icon " style="margin-top: 0px;margin-right: 0px;">      <%#= image_tag('tel.png', :width=>"15") %>
  </i><b>Tel</b>:</td><td> 87506-48238</td>
<td><i class="icon icon-envelope" style="margin-top: 4px;margin-right: 2px;"></i><b>Email</b>:</td><td> <a href="mailto:pgpba@greatlakes.edu.in" target="_top">pgpba@greatlakes.edu.in</a></td>
<td><i class="icon " style="margin-top: 0px;margin-right: 2px;">
<%#= image_tag('mouse.png', :width=>"15") %>
</i><b>Web</b>:</td><td><a href="/" style="color:#000;">pgpba.greatlakes.edu.in</a></td></tr></table>
  </div>
  </div>
  </div>
  </div>
  </div> -->

 <div class="wrapper">
  <div class="topbannerarea">
    <p class="mtbottom20"><img src="../images/logo.jpg" width="214" height="80" alt="great lakes logo" /></p>
    <p><br />
      <br />
    </p>
    <div class="headingbig bold mtbottom20">Skyrocket Your<br />
      Career in Analytics </div>
    <div class="smallheading lineheight25"><strong>Great Lakes PGPBA program</strong> helps working <br />
    professionals like you build a career in analytics.</div>
  </div>
  <div class="clear"></div>
  <a name="frm"></a>
  <div class="yellowpart">
    <div class="left"><br />
      Analytics is next big global opportunity <br />
      and there is acute shortage of skilled talent. <br />
      <span class="bold">So, don’t miss this opportunity to <br />
      <span class="red">skyrocket your career</span> in analytics. </span></div>
    <div class="center"><img src="../images/rocketimg.jpg" alt="skyrocket your career" width="132" height="145" /></div>
    <div class="left aligncenter" style="padding-right:20px;width:380px!important;"><br />
      <strong>Attend a FREE Information Session</strong> to learn more<br />
    about this program &amp; career opportunities in analytics.</div>
  </div>
  <div class="clear"></div>
  <div class="frmarea">
    <div class="infopart">
      <h2><img src="../images/who-enroll-icon.jpg" alt="Who Should Enrol?" width="74" height="73" />Venue, Date & Time</h2>
      <p>This will be an online session. A weblink for <br />
      the session &amp; information about date &amp; time will be emailed to you.</p>
      <div class="clear"></div>
      <h2><img src="../images/career-icon.jpg" alt="Career Opportunities" width="74" height="73" />Limited Participants</h2>
      <p>Limited participants. This is a FREE session strictly by invite. There are only limited slots available. Register NOW to book a slot.</p>
    </div>
    <div class="formpart">
      <div class="toparea">Receive Exclusive Invite for Webinar</div>
    <br/>
    
  <div id='crmWebToEntityForm' align='center'>
    <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset = UTF-8'>
    <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads788461000000067005 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' accept-charset='UTF-8'>
  <input type='text' style='display:none;' name='xnQsjsdp' value='SxGdQuLItuBthYo@kRl79w$$'/>
  <input type='hidden' name='zc_gad' id='zc_gad' value=''/>
  <input type='text' style='display:none;' name='xmIwtLD' value='mJKTOQCzg8feKQxKK0wA4HYDTxR5kYBU'/>
  <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='/>
  <input type='text' style='display:none;' name='returnURL' value='http&#x3a;&#x2f;&#x2f;pgpba.arrivuapps.com&#x2f;businessanalyticsprogram&#x2f;thanks' />
  <br>
  <table border=0 cellspacing=0 cellpadding='0' width="100%" >
  <!--  <tr>
      <td colspan='2' align='left' style='color:black;font-family:Arial;font-size:14px;'><strong>LP form</strong></td>
    </tr>
    <br>-->
    <tr>
      <!--<td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;'>Full Name<span style='color:red;'>*</span></td>-->
      <td><input type='text' maxlength='80' name="Last Name" id="Name" placeholder="Full Name" class="textbox"/>
      
    
      </td>
      </tr>
    <tr>
      <!--<td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;'>Contact number<span style='color:red;'>*</span></td>-->
      <td><input type='text' maxlength='30' name="Phone" id="Phone" placeholder="Contact number" class="textbox"/>
        </td>
    </tr>
    <tr>
      <!--<td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;'>Email address<span style='color:red;'>*</span></td>-->
      <td><input type='text' maxlength='100' name="Email" placeholder="Email address" class="textbox">
        </td>
    </tr>
    <tr>
      <td colspan='2' align='center' style='padding-top: 15px;' ><input type='submit' value='Sign me up for this FREE session' class="orange-button" />
</td>
    </tr>
  </table>
  <script> var mndFileds=new Array('Last Name','Email','Phone');var fldLangVal=new Array('Full Name','Email address','Contact number');function reloadImg(){if(document.getElementById('imgid').src.indexOf('&d') !== -1 ){document.getElementById('imgid').src=document.getElementById('imgid').src.substring(0,document.getElementById('imgid').src.indexOf('&d'))+'&d'+new Date().getTime();}else{document.getElementById('imgid').src = document.getElementById('imgid').src+'&d'+new Date().getTime();}}function checkMandatery(){for(i=0;i<mndFileds.length;i++){ var fieldObj=document.forms['WebToLeads788461000000067005'][mndFileds[i]];if(fieldObj) {if(((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0){alert(fldLangVal[i] +' cannot be empty'); fieldObj.focus(); return false;}else if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert(fldLangVal[i] +' cannot be none'); fieldObj.focus(); return false;}} else if(fieldObj.type =='checkbox'){ if (fieldObj.checked == false){     alert('Please accept  '+fldLangVal[i]); fieldObj.focus();return false;}}}}}</script>
</form>
</div>
<div class="smalltext" style="width:320px;margin:0px auto;text-align:center">Register now to get a FREE ebook on careers in analytics. <br />
  Your information will remain safe. Read <a href="#privacy" class="hover" role="button" data-toggle="modal">Privacy policy</a>. </div>
</div>
</div>
<div class="clear"></div>

<div class="newmodulemain">
  <h2 align="center">Meet the experts who will conduct this FREE information session  </h2>
  <table width="96%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
      <td align="right" valign="top">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">&nbsp;</td>
      <td align="right" valign="top">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="14%" valign="top"><img src="../images/gaurav-img.jpg" width="107" height="104" alt="GAURAV VOHRA" /></td>
      <td width="32%" valign="top"><div class="red font14 pbottom20">GAURAV VOHRA</div>
        <span style="font-size:13px;line-height:18px;">Gaurav Vohra, CEO of Jigsaw Academy, has been in the analytics industry from its initial days. He has worked across multiple verticals including financial services, retail, FMCG, telecom, pharmaceuticals and leisure industries.</span></td>
      <td width="21%" align="right" valign="top"><img src="../images/prof-img.jpg" alt="PROF. BAPPADITYA " width="107" height="104" /></td>
      <td width="33%"><div class="red font14 pbottom20">PROF. BAPPADITYA </div>
        <span style="font-size:13px;line-height:18px;">Dr. Bappaditya is a professor in Finance and Analytics at Great Lakes Institute of Management. Being one of the leading academicians in the field of analytics and risk management, Prof. Bappaditya is also a visiting faculty at IIM Bangalore, MDI Gurgaon, SP Jain and IIM Kolkata.</span></td>
      </tr>
</table>
  <p>&nbsp;</p>
</div>
        
<div class="clear"></div>

<div class="testimonials">
  <p><img src="../images/testimonial-topimg.jpg" width="1000" height="154" alt="testimonials" /></p>
  
<div class="clear"></div>

  
  
  <div class="w50 aligncenter">
    <div class="w70"> “My journey in Great Lakes so far has been incredibly informative. Each faculty member is a recongised expert in their respective domain.”
      <p class="smalltext blackregular">– Sudhanshu Pathak <br />
        (SAP Consultant at KPMG, PGPBA student)</p>
    </div>
  </div>
  <div class="w50 aligncenter">
    <div class="w70"> “The course coverage is quite exhaustive and in depth. The professors are knowledgeable and coach very well. Overall, the program is good and is getting executed well by Great Lakes.”
      <p class="smalltext blackregular">– Lakshmi Prabha <br />
        (Program Manager at HCL, PGPBA student)</p>
    </div>
  </div>
</div>
<div class="line">&nbsp;</div>

<div class="clear"></div>
<div class="clientslogo">
  <p>Candidates of PGP-BA program come from some of the leading organizations like: </p>
  <p><img src="../images/clientslogo.jpg" width="763" height="71" alt="clients" /></p>
</div>
<div class="clear"></div>
<div class="bluearea">
  <h3>5 Reasons Why You Should Enrol To PGP-BA Course</h3>
  <div class="icontextarea mright60"><img src="../images/icon-left-01.jpg" width="45" height="45" />Industry relevant curriculum that weaves participants with applications for decision support.</div>
  <div class="icontextarea"><span class="icontextarea mright60"><img src="../images/icon-right-01.jpg" width="45" height="45" />Virtual lab wherein the candidates get hands-on exposure and build skills in tools and technologies such as SAS, Tableau and R.<br />
    </span></div>
  <div class="clear"></div>
  <br/>
  <br/>
  <div class="icontextarea mright60"><img src="../images/icon-left-02.jpg" width="45" height="45" />Blended learning environment (Classroom + Online) that causes minimal disruption to work schedule.</div>
  <div class="icontextarea"><span class="icontextarea mright60"><img src="../images/icon-right-02.jpg" width="45" height="45" />The program is designed, delivered and endorsed by leading analytical, technology and consulting organizations.<br />
    </span></div>
  <div class="clear"></div>
  <br/>
  <br/>
  <div class="icontextarea mright60"><img src="../images/icon-left-03.jpg" width="45" height="45" />The faculty pool consists of leading academicians in the area of business analytics along with experienced industry practitioners.</div>
  <div class="icontextarea"><span class="icontextarea" style="padding-left:50px;"><img src="../images/more-icon.jpg" width="366" height="61" /><br />
    </span></div>
</div>
<div class="clear"></div>
<div class="missthebusarea">
  <div class="w415 floatleft mright60">
    <h4 class="bold">Don’t Miss The Bus!</h4>
    <p class="red">Analytics is the next big global opportunity and is witnessing an acute shortage of skilled talent. But you can fill the void. </p>
    <p>Designed with an innovative course methodology and delivered by illustrious faculty, PGP-BA is tailored for working professionals who wish to build managerial careers in the growing Analytics industry. </p>
    <p>It is ranked among the Top 5 Analytics Program in India by Analytics India Magazine.</p>
    <p><span class="red bold linkstyle"><a href="#frm">Attend a FREE Information Session</a></span> to learn more. </p>
  </div>
  <div class="floatleft brochureimage">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </p>
    <div class="font13 mright60 pright60"><strong>All participants will get a FREE ebook on<br />
      “Careers in Analytics”. <span class="linkstyle blackregular"><a href="#frm">Register now</a></span>!</strong></div>
  </div>
</div>
<div class="line mtbottom20">&nbsp;</div>
<div class="footer"> <img src="../images/logo-footer.jpg" width="209" height="76" class="logo" />
<!--  <div class="devider floatleft">&nbsp;</div>-->
  <div class="box floatleft">Great Lakes, one of India's premier business schools, has been ranked within the top ten in the country by Outlook, Business Today, Careers 360 and CNBC-TV18.<br />
  </div>
  <!--<div class="devider floatleft">&nbsp;</div>-->
  <div class="box floatleft"> For more information:<br/>
    <div class="icontextarea lineheight25 mrtop14"><img src="../images/footer-icons-call.jpg" width="23" height="25" />Call 08750648238</div>
    <div class="icontextarea lineheight25 mrtop5"><img src="../images/footer-icons-mail.jpg" width="23" height="25" />Email <a href="mailto:pgpba@greatlakes.edu.in">pgpba@greatlakes.edu.in</a></div>
    <br />
  </div>
</div>
</div>
</div>

</div>
