
<style type="text/css"> 
.navbar{display:none;}
</style>

<div class="row">
 <div class="container">
  <div class="span12" >
  <div class="wrap_box">
  <h1 style="text-align:center;color:#ddd;">Your Gateway to a management career in Analytics</h1>
  <div style="background:url('assets/top_bg.png');float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;">
<table><tr><td style="padding:55px;">
<img src="assets/gllogo.png" width="360" height="130">
</td>
<td style="padding:55px;font-size:18px;">
  <h1>Post Graduate Program in Business Analytics @ Greatlakes Delhi</h1>
  <b>11-month</b> blended program (classroom + online) designed for <b>working professionals</b>
</td></tr></table>
  </div>
    <div style="background:url('assets/banner_bg.png');float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;width: 104%;height: 365px;margin-left: -18px;box-shadow: 0px 5px 8px 5px #333;margin-bottom: 15px;">
<table style="width: 100%;">
<img src="assets/corner_ribbon.png" style="float:left;position: absolute;margin-left: -0.85%;
margin-top: -.5%;">

  <tr><td style="text-align: right;">
<img src="assets/info_banr.png" style="">
</td>
<td >
  <div style="margin-top:20px;margin-left: 50px;background:url('assets/form_bg.png');width:450px;height:332px;">
    <div id='crmWebToEntityForm' align=center>
    <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset = UTF-8'>  
  <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads788461000000067005 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' 
  accept-charset='UTF-8'><table border=0 cellspacing=0 cellpadding=5 
  width=250 style='float:right;margin:65px 0px;'>  <input type='text' 
  style='display:none;' name='xnQsjsdp' value='SxGdQuLItuBthYo@kRl79w$$'/> 
  <input type='hidden' name='zc_gad' 
  id='zc_gad' value=''/>  <input type='text' style='display:none;' 
  name='xmIwtLD' value='mJKTOQCzg8feKQxKK0wA4HYDTxR5kYBU'/>  <input 
  type='text'  style='display:none;' name='actionType' value='TGVhZHM='/> 
  <input type='text' style='display:none;' name='returnURL' 
  value='http://localhost:4000/' /> 
  <tr><td colspan='2' align='left' 
style='font-size:22px;font-style:italic;'><strong>Free instant access</strong></td></tr>
  <tr><td nowrap style='font-family:sans-serif;font-size:12px;display:none;font-weight:bold' align='right' width='1%' >Last Name &nbsp;&nbsp;:</td><td 
  width='75%'><input type='text' maxlength='80' name='Last Name' placeholder="Name*" /> 
  </td></tr><tr><td width='75%'><input 
  type='text' maxlength='100' name='Email' placeholder="Email*"/> </td></tr><tr><td width='75%'><input 
  type='text' maxlength='30' name='Phone' placeholder="Phone*" /> </td></tr><tr><td  
  align=center> <input type='submit' name='save' value="Get It Now " onclick="try{ _sokrati_registration(); }catch(err){}" style="background: #2a478d;font-size: 20px;color: #fff;border: none;">  </td></tr></table>
  <script> var mndFileds=new Array('Last Name');var fldLangVal=new Array('Last Name');function 
  checkMandatery(){for(i=0;i<mndFileds.length;i++){ var 
  fieldObj=document.forms['WebToLeads788461000000067005'][mndFileds[i]];if(fieldObj) 
  {if(((fieldObj.value).replace(/^\s+|\s+$/g, 
  '')).length==0){alert(fldLangVal[i] +' cannot be empty'); 
  fieldObj.focus(); return false;}else 
  if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert(fldLangVal[i] 
  +' cannot be none'); fieldObj.focus(); return false;}}}}}</script>  
  </form></div>
</div>
</td></tr></table>
  </div>
  <h1 style="text-align:center;font-weight: normal;">About the Program</h1>
  <div style="float:left;width:100%;text-align: center;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;">
    <img src="assets/about_pgrogram.png" style="width: 100%;"></div
    >
   <div style="float:left;width:97%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;padding: 20px;">

<table cellpadding="5" style="font-size:16px;"><tr><td><h4>CONTACT US</h4></td><td><i class="icon " style="margin-top: 0px;margin-right: 0px;"><img src="assets/tel.png" width="15"></i><b>Tel</b>:</td><td> 87506-48238</td>
<td><i class="icon icon-envelope" style="margin-top: 4px;margin-right: 2px;"></i><b>Email</b>:</td><td> <a href="mailto:pgpba@greatlakes.edu.in" target="_top">pgpba@greatlakes.edu.in</a></td>
<td><i class="icon " style="margin-top: 0px;margin-right: 2px;"><img src="assets/mouse.png" width="15"></i><b>Web</b>:</td><td><a href="/" style="color:#000;">pgpba.greatlakes.edu.in</a></td></tr></table>
  </div>
  </div>
  </div>
  </div>
  </div>

  

