<% provide(:title, 'Build a career in analytics with Great Lakes') %>

<script type="text/javascript">
// $(document).ready(function()
// {
// var URLParser = function (url) {
//     this.url = url || window.location.href;
//     this.urlObject = this.parse(); 
// };

// URLParser.prototype = {
//     constructor : URLParser,
    
//     parse : function (url) {
//         var tempArr,
//             item,
//             i,
//             returnObj = {};
//         this.url = url || this.url;
//         tempArr = this.url.split("?");
//         returnObj.baseURL = tempArr[0];
//         returnObj.params = {};
//         if (tempArr.length > 1) {
//             returnObj.queryString = tempArr[1];
//             tempArr = tempArr[1].split("&");
//             for (i = 0; i < tempArr.length; i++) {
//                 item = tempArr[i].split("=");
//                 returnObj.params[item[0]] = item[1];    
//             }
//         } else {
//             returnObj.queryString = "";
//         }
        
//         return returnObj;
//     },
    
//     toString : function () {
//         var strURL = this.urlObject.baseURL + "?",
//             paramObj = this.urlObject.params,
//             prop;
//         for (prop in paramObj) {
//             if (paramObj.hasOwnProperty(prop)) {
//                 strURL += prop + "=" + paramObj[prop] + "&";
//             }
//          }
//         return strURL.substr(0, strURL.length - 1);
//     },
    
//     removeParams : function (removeArray) {
//         var paramObj = this.urlObject.params,
//             key,
//             i;
//         if (removeArray instanceof Array) {
//             for (i = 0; i < removeArray.length; i++) {
//                 key = removeArray[i];
//                 if (paramObj.hasOwnProperty(key)) {
//                     delete paramObj[key];
//                 }
//             }
//         }
//     },
    
//     addParams : function (paramObj) {
//         var params = this.urlObject.params,
//             key;
//         if (typeof paramObj === "object") {
//             for (key in paramObj) {
//                 if (paramObj.hasOwnProperty(key)) {
//                     params[key] = paramObj[key];
//                 }
//             }
//         }
//     }
// };

// var up = new URLParser();
// var urlObj = up.parse(window.location.href);
// var soksid=urlObj.params['soksid'];
// var utm_source=urlObj.params['utm_source'];
// var utm_campaign=urlObj.params['utm_campaign'];
// var Soksid = document.getElementById("soksid");
// Soksid.value = urlObj.params['soksid'];
// var Utmsource = document.getElementById("utmsource");
// utmsource.value = urlObj.params['utm_source'];
// var Utmcampign = document.getElementById("utmcampaign");
// utmcampaign.value = urlObj.params['utm_campaign'];
// });

</script>

<style type="text/css"> 
.navbar{display:none;}
.textbox{border:1px solid #c1c1c1 !important;
  border-radius:5px !important;
  padding:18px 20px !important;
  margin:5px 30px !important;
  width:71% !important;
  font:13px 'Open sans' !important;
  color:#696969 !important;}
 body{
  margin:0px;
  background:#5a5a5a;
  font:15px 'Open Sans', sans-serif !important;
  color:#363636;
  line-height:22px !important;
  font-weight:normal;
}
h2{
  font-size:24px !important;
  font-family:Gadugi!important;
  color:#d31a2b;
  margin:10px 0px 0px 0px;
  padding:0px;
}
h3{
  font-size:30px !important;
  font-family:Gadugi bold !important;
  color:#fff;
  margin:0px 0px 30px 0px;
  padding:0px;
  text-align:center;
}
h4{
  font-size:40px!important;
  color:#353942;
  margin:0px 0px 30px 0px;
  padding:0px;
}
form {
margin: 0 0 0px;
}
/*p {margin: 0px 0px 30px;}*/

.frmarea .formpart {
margin: 0px 60px 30px 20px;
float: left;
width: 380px;
margin-top: -241px;
background: #fff;
}
.arrowtop {
position: relative;
right: -326px;
top: -114px;
}
.yellowpart {
background: #fed307;
padding: 30px 60px;
display: table;
width: 880px;
}
.yellowpart .left {
float: left;
font-size: 17px;
}
.lineheight28 {
line-height: 28px!important;
}
.w860 {
width: 860px;
margin: 0px auto;
}

.ptopbottom50 {
padding-top: 50px!important;
padding-bottom: 50px!important;
}
.w50 {
width: 50%;
float: left;
}
.pbottom70 {
margin-bottom: 70px!important;
}
.w385 {
width: 385px;
}
.topbannerarea .headingbig,.topbannerareathanks .headingbig{
  font: 40px 'Gadugi bold'!important;
  line-height: 50px;
  font-weight: bold !important;
}
.frmarea .infopart {
padding: 45px 60px 20px 60px;
float: left;
width: 418px;
font-size: 17px;
}
.orange-button {
background: url(../images/submit-button.png) no-repeat;
width: 82% !important;
margin: 10px 30px;
height: 82px;
border: 0px;
cursor: pointer;
}
select {
background: url(../images/selectbg.jpg) no-repeat !important;
border: 0px;
padding: 27px 20px;
margin: 5px 30px;
width: 84%;
font: 13px 'Open sans'!important;
color: #aaa;
-webkit-appearance: none;
}
.orange-button{
  background:url(../images/submit-button.png) no-repeat;
    width:82%;
  margin:10px 30px;
  height:82px;
  border:0px;
  cursor:pointer;
}
</style>  

<!-- <div class="row">
 <div class="container">

  <div class="span12" >
  <div class="wrap_box">

  <h1 style="text-align:center;color:#ddd;">Your Gateway to a management career in Analytics</h1>
  <div style="background:url('/assets/top_bg.png');float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;">
<table><tr><td style="padding:55px;">
  <%#= image_tag('gllogo.png',:width=>"360", :height=>"130") %>
</td>
<td style="padding:55px;font-size:18px;">
  <h1>Post Graduate Program in Business Analytics @ Greatlakes Delhi</h1>
  <b>11-month</b> blended program (classroom + online) designed for <b>working professionals</b>
</td></tr></table>
  </div>
    <div style="background:url('/assets/banner_bg.png');float:left;width:100%;background-size: 100% 100%;background-repeat: no-repeat;width: 104%;height: 365px;margin-left: -18px;box-shadow: 0px 5px 8px 5px #333;margin-bottom: 15px;">
<table style="width: 100%;">
   <%#= image_tag('corner_ribbon.png',:style=>"float:left;position: absolute;margin-left: -0.85%;
margin-top: -.5%;") %>


  <tr><td style="text-align: right;">
      <%#= image_tag('info_banr.png') %>
</td>
<td >
  <div style="margin-top:20px;margin-left: 50px;background:url('/assets/form_bg.png');width:450px;height:332px;">
    <div id='crmWebToEntityForm' align=center>
    <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset = UTF-8'>  
  <form action='https://crm.zoho.com/crm/WebToLeadForm' name='WebToLeads788461000000067005' method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' 
  accept-charset='UTF-8' ><table border=0 cellspacing=0 cellpadding=5 
  width=250 style='float:right;margin: 100px 0px 0px 0px;'>  <input type='text' 
  style='display:none;' name='xnQsjsdp' value='SxGdQuLItuBthYo@kRl79w$$'/> 
  <input type='hidden' name='zc_gad' 
  id='zc_gad' value=''/>  <input type='text' style='display:none;' 
  name='xmIwtLD' value='mJKTOQCzg8feKQxKK0wA4HYDTxR5kYBU'/>  
  <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='/> 
  <input type='text' style='display:none;' name='returnURL' value='http://pgpba.greatlakes.edu.in/' /> 
  <tr><td colspan='2' align='left' 
style='font-size:22px;font-style:italic;display:none;'><strong>Free instant access</strong></td></tr>
  <tr><td nowrap style='font-family:sans-serif;font-size:12px;display:none;font-weight:bold' align='right' width='1%' >Last Name &nbsp;&nbsp;:</td><td 
  width='75%'><input type='text' maxlength='80' name='Last Name' placeholder="Name*" /> 
  </td></tr><tr><td width='75%'><input 
  type='text' maxlength='100' name='Email' placeholder="Email*"/> </td></tr><tr><td width='75%'><input 
  type='text' maxlength='30' name='Phone' placeholder="Phone*" /> </td></tr>
<tr><td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold;display:none;' align='right' width='25%'>UTM Source &nbsp;&nbsp;</td><td width='75%'><input type='hidden' maxlength='55' id="utmsource" name='LEADCF1' /> </td></tr><tr><td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold;display:none;' align='right' width='25%'>SOKSID &nbsp;&nbsp;:</td><td width='75%'>
<input type='hidden' maxlength='55' name='LEADCF3' id="soksid" /> </td></tr>
<tr><td nowrap style='font-family:sans-serif;font-size:12px;font-weight:bold;display:none;' align='right' width='25%'>UTM_Campaign &nbsp;&nbsp;:</td><td width='75%'>
  <input type='hidden' maxlength='55' name='LEADCF5' id="utmcampaign" /> </td></tr> 
<tr><td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;display:none;'>Naukri Group </td><td style='width:250px;' ><input type='hidden' style='width:250px;' value=" <%= request.fullpath() %>"  maxlength='56' name='LEADCF4' /></div> </td></tr><tr>
  <tr><td  
  align=center> <input type='submit' name='save' value="Get It Now " onclick="try{ _sokrati_registration(); }catch(err){}" style="background: #2a478d;font-size: 20px;color: #fff;border: none;">  </td></tr></table>
  <script> var mndFileds=new Array('Last Name');var fldLangVal=new Array('Last Name');function 
  checkMandatery(){for(i=0;i<mndFileds.length;i++){ var 
  fieldObj=document.forms['WebToLeads788461000000067005'][mndFileds[i]];if(fieldObj) 
  {if(((fieldObj.value).replace(/^\s+|\s+$/g, 
  '')).length==0){alert(fldLangVal[i] +' cannot be empty'); 
  fieldObj.focus(); return false;}else 
  if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert(fldLangVal[i] 
  +' cannot be none'); fieldObj.focus(); return false;}}else { window.open("/download_pdf_pgpba");}}}}</script>  
  </form></div>
</div>
</td></tr></table>
  </div>
  <h1 style="text-align:center;font-weight: normal;">About the Program</h1>
  <div style="float:left;width:100%;text-align: center;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;">
          <%#= image_tag('about_pgrogram.png', :style=>"width:100%;") %>
</div>
   <div style="float:left;width:97%;background-size: 100% 100%;background-repeat: no-repeat;box-shadow: 1px 2px 10px 2px #ddd;padding: 20px;">

<table cellpadding="5" style="font-size:16px;"><tr><td><h4>CONTACT US</h4></td><td><i class="icon " style="margin-top: 0px;margin-right: 0px;">      <%#= image_tag('tel.png', :width=>"15") %>
  </i><b>Tel</b>:</td><td> 87506-48238</td>
<td><i class="icon icon-envelope" style="margin-top: 4px;margin-right: 2px;"></i><b>Email</b>:</td><td> <a href="mailto:pgpba@greatlakes.edu.in" target="_top">pgpba@greatlakes.edu.in</a></td>
<td><i class="icon " style="margin-top: 0px;margin-right: 2px;">
<%#= image_tag('mouse.png', :width=>"15") %>
</i><b>Web</b>:</td><td><a href="/" style="color:#000;">pgpba.greatlakes.edu.in</a></td></tr></table>
  </div>
  </div>
  </div>
  </div>
  </div> -->
<div class="wrapper">
  <div class="topbannerarea">
    <div class="mtbottom20"><img src="images/logo.jpg" width="214" height="80" alt="great lakes logo" /></div>
    <br />
    <div class="headingbig bold mtbottom20">Transition your <br />
      career to Analytics </div>
    <div class="smallheading lineheight28">Tap this opportunity with the industry <br />
      endorsed Great Lakes' Post Graduate <br />
      Program in Business Analytics. </div>
  </div>
  <div class="clear"></div>
  <div class="yellowpart">
    <div class="left lineheight28">Great Lakes PGP-BA program is <strong>&quot;Ranked<br />
      among the Top 5 Analytics Program in India&quot;</strong><br />
      <em>(by Analytics India Magazine)</em>.</div>
  </div>
  <div class="clear"></div>
  <div class="frmarea">
  <div class="infopart"> <img src="images/professionals-img.jpg" alt="working professionals " width="402" height="125" />
    <p>This program is <strong>designed for working professionals</strong> who wish to embark on managerial careers in the analytics sector. <span class="linkstyle blackregular"><a href="#frm">Register for this program now!</a></span></p>
    <div class="arrowtop"><img src="images/arrow-top-02.png" width="154" height="99" /></div>
    <div class="clear"></div>
  </div>
  <a name="frm"></a>
  <div class="formpart">
  <div class="toparea" style="line-height: 28px;">Join The League of Expert<br />
    Data Scientists. Apply Now!</div>
  <br/>
  <div align="left" style="padding:0px 30px;font-size:13px;">Admissions open for Chennai & Gurgaon campus.<br />
    Last date for submission of application - April 10th</div>
  <div id='crmWebToEntityForm' align='center'>
  <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset = UTF-8'>
  <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads788461000000674009 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatery()' accept-charset='UTF-8'>
    <input type='text' style='display:none;' name='xnQsjsdp' value='SxGdQuLItuBthYo@kRl79w$$'/>
    <input type='hidden' name='zc_gad' id='zc_gad' value=''/>
    <input type='text' style='display:none;' name='xmIwtLD' value='mJKTOQCzg8ei6kiffTThYYIjjEL9B-pv'/>
    <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='/>
    <input type='text' style='display:none;' name='returnURL' value='http&#x3a;&#x2f;&#x2f;pgpba.greatlakes.edu.in&#x2f;businessanalyticsprogram&#x2f;thanks' />
    <br>

<table border=0 cellspacing=0 cellpadding='0' width="100%" >
  <!--  <tr>
      <td colspan='2' align='left' style='color:black;font-family:Arial;font-size:14px;'><strong>LP form</strong></td>
    </tr>
    <br>-->
  <tr> 
    <!--<td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;'>Full Name<span style='color:red;'>*</span></td>-->
    <td><input type='text' maxlength='80' name="Last Name" id="Name" placeholder="Full Name" class="textbox"/></td>
  </tr>
  <tr> 
    <!--<td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;'>Contact number<span style='color:red;'>*</span></td>-->
    <td><input type='text' maxlength='30' name="Phone" id="Phone" placeholder="Contact number" class="textbox"/></td>
  </tr>
  <tr> 
    <!--<td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;'>Email address<span style='color:red;'>*</span></td>-->
    <td><input type='text' maxlength='100' name="Email" placeholder="Email address" class="textbox"></td>
  </tr>
  <tr> 
    <!--<td nowrap='nowrap' align='left'  style='font-size:12px;font-family:Arial;width:200px;'>Email address<span style='color:red;'>*</span></td>-->
    <td><select style='width:310px;border:0px;color:#adadad;' name='Preferred campus'>
            <option value=''>Select preferred campus</option>
            <option value='Chennai'>Chennai</option>
            <option value='Gurgaon'>Gurgaon</option>
          </select></td>
  </tr>
  <tr>
    <td colspan='2' align='center' style='padding-top: 15px;'><input type='submit' value='' class="orange-button" /></td>
  </tr>
</table>
<script> var mndFileds=new Array('Last Name','Email','Phone','Preferred campus');var fldLangVal=new Array('Full name','Email','Mobile','Preferred campus');function reloadImg(){if(document.getElementById('imgid').src.indexOf('&d') !== -1 ){document.getElementById('imgid').src=document.getElementById('imgid').src.substring(0,document.getElementById('imgid').src.indexOf('&d'))+'&d'+new Date().getTime();}else{document.getElementById('imgid').src = document.getElementById('imgid').src+'&d'+new Date().getTime();}}function checkMandatery(){for(i=0;i<mndFileds.length;i++){ var fieldObj=document.forms['WebToLeads788461000000674009'][mndFileds[i]];if(fieldObj) {if(((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0){alert(fldLangVal[i] +' cannot be empty'); fieldObj.focus(); return false;}else if(fieldObj.nodeName=='SELECT'){if(fieldObj.options[fieldObj.selectedIndex].value=='-None-'){alert(fldLangVal[i] +' cannot be none'); fieldObj.focus(); return false;}} else if(fieldObj.type =='checkbox'){ if (fieldObj.checked == false){     alert('Please accept  '+fldLangVal[i]); fieldObj.focus();return false;}}else { window.open("/download_pdf_pgpba");}}}}</script>
</form>
</div>
<div class="smalltext" style="width:320px;margin:0px auto;text-align:right">We respect your  <a href="#privacy" class="hover" role="button" data-toggle="modal"> privacy</a>. </div>
</div>
</div>
<div class="clear"></div>
<div class="testimonials">
  <p><img src="images/testimonial-topimg.jpg" width="1000" height="154" alt="testimonials" /></p>
  <div class="clear"></div>
  <div class="w50 aligncenter">
    <div class="w70"> “My journey in Great Lakes so far has been incredibly informative. Each faculty member is a recognised expert in their respective domain.”
      <p class="smalltext blackregular">– Sudhanshu Pathak <br />
        (SAP Consultant at KPMG, PGPBA student)</p>
    </div>
  </div>
  <div class="w50 aligncenter">
    <div class="w70"> “The course coverage is quite exhaustive and in depth. The professors are knowledgeable and coach very well. Overall, the program is good and is getting executed well by Great Lakes.”
      <p class="smalltext blackregular">– Lakshmi Prabha <br />
        (Program Manager at HCL, PGPBA student)</p>
    </div>
  </div>
</div>
<div class="line">&nbsp;<br />
  <br />
</div>
<div class="clear"></div>
<div class="ptopbottom50 w860">
  <div align="center">
    <h5><strong>Great Lakes PGPBA is endorsed <br />
      and delivered by leading organizations </strong></h5>
  </div>
  <div class="w50 pbottom70 lineheight28">
    <div class="w385 font14 mright0">
      <p>Industry professionals from the following organizations train, mentor and evaluate candidates in Great Lakes' PGP-BA:<br />
      </p>
      <p><img src="images/logos.jpg" alt="organizations " width="385" height="149" /></p>
    </div>
  </div>
  <div class="w50 pbottom70 lineheight28">
    <div class="w410 font14 floatright">
      <p>Over 120 hours of industry led “application oriented&quot; classroom sessions using case studies, data sets and projects.</p>
      <p>Gain industry exposure across multiple domains in analytics such as Financial &amp; Risk analytics, Retail analytics, Web&amp;Social media analytics, Healthcare analytics and Telecom analytics.</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="bluearea">
  <h3>4 Reasons Why You Should Enrol To This Course</h3>
  <div class="icontextarea mright60"><img src="images/icon-left-01.jpg" width="45" height="45" />Industry relevant curriculum that weaves participants with applications for decision support.</div>
  <div class="icontextarea"><span class="icontextarea mright60"><img src="images/icon-right-01.jpg" width="45" height="45" />Virtual lab wherein the candidates get hands-on exposure and build skills in tools and technologies such as SAS, Tableau and R.<br />
    </span></div>
  <div class="clear"></div>
  <br/>
  <br/>
  <div class="icontextarea mright60"><img src="images/icon-left-02.jpg" width="45" height="45" />Blended learning environment (Classroom + Online) that causes minimal disruption to work schedule.</div>
  <div class="icontextarea"><span class="icontextarea mright60"><img src="images/icon-left-03.jpg" width="45" height="45" />The faculty pool consists of leading academicians in the area of business analytics along with experienced industry practitioners.</span></div>
</div>
<div class="clear"></div>
<div class="clientslogo">
  <p class="heading"><strong><br />
    <br />
    Candidates of PGP-BA program come from some of the leading organizations like: </strong></p>
  <p align="center"><img src="images/clientslogo.jpg" width="763" height="71" alt="clients" /></p>
  <br/>
  <div class="w50 pbottom70 lineheight25">
    <div class="w70" style="width:365px;">
      <p> The PGP-BA program equips you with the <strong>relevant knowledge and skills</strong>. </p>
      <p>Some of the indicative roles would be: Business Analyst / Senior Business Analyst, Manager (Analytics), Head (Analytics) &amp; other managerial roles.</p>
    </div>
  </div>
  <div class="w50 pbottom70 lineheight25">
    <div class="w70" style="width:365px;">
      <p> A combination of business management and analytical training can propel you to managerial roles in analytics industry.</p>
      <p>Tap the opportunity today.<span class="yellowbutton"><a href="#frm"><img src="images/applybutton.png" alt="apply now!" width="138" height="46" /></a></span></p>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="line"></div>
<div class="missthebusarea">
  <div class="w415 floatleft mright60">
    <h4 class="bold">Don’t Miss The Bus!</h4>
    <p class="red">Analytics is the next big global opportunity and is witnessing an acute shortage of skilled talent. But you can fill the void. </p>
    <p>Designed with an innovative course methodology and delivered by illustrious faculty, PGP-BA is tailored for working professionals who wish to build managerial careers in the growing Analytics industry. </p>
    <p>It is ranked among the Top 5 Analytics Program in India by Analytics India Magazine.</p>
    <p><span class="red bold linkstyle"><a href="#frm">Apply Now</a></span> to join the league of expert data scientists.</p>
  </div>
  <div class="floatleft brochureimage">
    <p><br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </p>
    <div class="font13 mright60 pright60">Get the e-copy of course brochure <br />
      by filling up this <span class="linkstyle blackregular"><a href="#frm">small form</a></span>!</div>
  </div>
</div>
<div class="line mtbottom20">&nbsp;</div>
<div class="footer"> <img src="images/logo-footer.jpg" width="209" height="76" class="logo" /> 
  <!--  <div class="devider floatleft">&nbsp;</div>-->
  <div class="box floatleft">Great Lakes, one of India's premier business schools, has been ranked within the top ten in the country by Outlook, Business Today, Careers 360 and CNBC-TV18.<br />
  </div>
  <!--<div class="devider floatleft">&nbsp;</div>-->
  <div class="box floatleft"> For more information:<br/>
    <div class="icontextarea lineheight25 mrtop14"><img src="images/footer-icons-call.jpg" width="23" height="25" />Call 08750648238</div>
    <div class="icontextarea lineheight25 mrtop5"><img src="images/footer-icons-mail.jpg" width="23" height="25" />Email <a href="mailto:pgpba@greatlakes.edu.in">pgpba@greatlakes.edu.in</a></div>
    <div class="icontextarea lineheight25 mrtop5"> <a href="#privacy" class="hover" role="button" data-toggle="modal" style="padding-left:44px;">Privacy Policy</a> </div>
    <br />
  </div>
</div>
</div>
</div>
<div id="policy" class="loading" style="width:655px;display:none;padding:40px;font:15px arial;line-height:22px;">
  <div class="policyinner">
    <h1>Privacy policy</h1>
    <br/>
    Great Lakes is committed to protecting your privacy. We will only use the information that we collect about you lawfully. <br/>
    <br/>
    The information we hold will be accurate and up to date. You can check the information that we hold about you by emailing us. If you find any inaccuracies we will delete or correct it promptly. <br/>
    <br/>
    The personal information which we hold will be held securely in accordance with our internal security policy and the law. </div>
</div>
</div>

<!-- Google Code for Remarketing Tag --> 
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
---------------------------------------------------> 
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 975301779;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script> 
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;"> <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/975301779/?value=0&amp;guid=ON&amp;script=0"/> </div>
</noscript>
</body>
</html>
