<style type="text/css"> 
.navbar{display:none;}
body{
  margin:0px;
  background:#5a5a5a;
  font:15px 'Open sans';
  color:#363636;
  line-height:22px;
}
</style>
<div class="wrapper">
<div class="topbannerareathanks">
   <p>&nbsp;</p>
   <div class="headingbig bold mrleft500">
     
     <div class="headingbig">
       <p>Thank You!</p>
     </div>
   </div>
  <div class="smallheading lineheight25 mrleft500" onfocus="MM_goToURL('parent','http://pgpba.greatlakes.edu.in/businessanalyticsprogram/PGPBA_great_lakes_brochure.pdf');return document.MM_returnValue">
    <p>A weblink for 
      the session &amp;<br /> 
      information about date &amp; time <br />
      will be emailed to you.</p>
    <p>Please <span class="bold linkstyle blackregular"><a href="#" onclick="window.open('/download_pdf_pgpba');">click here</a></span> for download                                                                              <br />
      FREE ebook on careers in analytics. </p>
  </div>
</div>

<div class="clear"></div>

<div class="yellowpart aligncenter lineheight25 ptopbottom50 font18"><span class="grey-button"><a href="http://pgpba.greatlakes.edu.in/">Click here</a></span> to learn more about PGP-BA course. <br />
  <br />
  Visit our <span class="grey-button"><a href="http://www.greatlakes.edu.in/" target="_blank">website</a></span> to learn more about Great Lakes &amp; the other courses we offer. </div>

<div class="clear"></div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="clear"></div>
<div class="line mtbottom20">&nbsp;</div>
<div class="footer"> <img src="../images/logo-footer.jpg" width="209" height="76" class="logo" />
  <!--  <div class="devider floatleft">&nbsp;</div>-->
  <div class="box floatleft">Great Lakes, one of India's premier business schools, has been ranked within the top ten in the country by Outlook, Business Today, Careers 360 and CNBC-TV18.<br />
  </div>
  <!--<div class="devider floatleft">&nbsp;</div>-->
  <div class="box floatleft"> For more information:<br/>
    <div class="icontextarea lineheight25 mrtop14"><img src="../images/footer-icons-call.jpg" width="23" height="25" />Call 08750648238</div>
    <div class="icontextarea lineheight25 mrtop5"><img src="../images/footer-icons-mail.jpg" width="23" height="25" />Email <a href="mailto:pgpba@greatlakes.edu.in">pgpba@greatlakes.edu.in</a></div>
    <br />
  </div>
</div>
</div>



</div>

<!-- Google Code for Sign Up Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 975301779;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "Z0RqCK2yjAkQk9mH0QM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/975301779/?label=Z0RqCK2yjAkQk9mH0QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>