@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:'Open sans';
	src:url(http://centronicssupport.in/clients/GL/lp/font/OpenSans-Regular.ttf);
	
	font-family:'Gadugi';
	src:url(http://centronicssupport.in/clients/GL/lp/font/gadugi.ttf);
	
	font-family:'Gadugi';
	src:url(gadugib.ttf);
}

.clear{
	clear:both;
}




.topbannerarea .headingbig,.topbannerareathanks .headingbig{
	font:43px 'Gadugi';
	line-height:50px;
}
.smallheading{
	font-size:18px;
}
.red,.red a{
	color:#d31a2b;
}
.blackregular, .blackregular a{
	color:#363636!important;
}
.bold{
	font-weight:bold!important;
}
.lineheight25{
	line-height:25px;
}
.mtbottom20{
	margin-bottom:20px;
}
.mtright40{
	margin-right:40px;
}
.mrtop10{
	margin-top:10px;
}
.mrtop14{
	margin-top:14px;
}
.mrtop5{
	margin-top:5px;
}
.mtight0{
	margin-right:0px!important;
}
.font18{
	font-size:18px;
}
.font13{
	font-size:13px;
}
.font14{
	font-size:14px;
}
.lineheight18{
	line-height:18px;
}
.ptopbottom50{
	padding-top:50px!important;
	padding-bottom:50px!important;
}
.pbottom20{
	margin-bottom:10px!important;
}
.aligncenter{
	text-align:center;
}
.floatright{
	float:right;
}
.floatleft{
	float:left;
}
.smalltext{
	font-size:12px;
	color:#9a9c9f;
}
.smalltext a{
	font-size:12px;
	color:#9a9c9f;
	text-decoration:underline;
}
.smalltext a:hover{
	font-size:12px;
	color:#9a9c9f;
	text-decoration:none;
}

.wrapper{
	width:1000px;
	margin:40px auto;
	background:#fff;
	border-radius:10px;
	padding-bottom:50px;
}
.topbannerarea{
	background:url(../images/bannerbg.jpg) no-repeat right;
	padding:50px 0px 0px 60px;
	height:414px;
}
.topbannerareathanks{
	background:url(../images/thanks-banner.jpg) no-repeat;
	padding:50px 0px 0px 60px;
	height:409px;
}
.yellowpart{
	background:#fed307;
	padding:30px 60px;
	display:table;
	width:880px;
}
.yellowpart .left{
	float:left;
	width:319px;
}
.yellowpart .center{
	float:left;
	width:160px;
	display:table-row;
}

.frmarea .infopart{
	padding:50px 60px;
	float:left;
	width:418px;
}
.frmarea .formpart{
	margin:0px 60px 50px 20px;
	float:left;
	width:380px;
	margin-top:-82px;
}

.icontextarea{
	width:410px;
	float:left;
	display:table-row;
}
.icontextarea img{
	float:left;
	margin-right:20px;
}
.mright60{
	margin-right:60px;
}
.pright60{
	padding-right:60px;
}
.mrleft500{
	margin-left:500px;
}
.missthebusarea{
	padding:75px 15px 30px 60px;
	display:table;
}
.brochureimage{
	background:url(../images/missbusimg.jpg) no-repeat;
	text-align:center;
	width:435px;
	height:318px;
}
.w415{
	width:415px;
}
.linkstyle{
	text-decoration:underline;
}
.linkstyle a:hover{
	text-decoration:none;
}
.footer{
	padding:50px 60px 0px 60px;
	display:table;
}
.footer a{
	color:#363636;
	text-decoration:none;
}
.footer a:hover{
	color:#363636;
	text-decoration:underline;
}
.devider{
	width:58px;
}
.box{
	width:275px;
}
.footer img.logo{
	float:left;
	display:table-row;
}


.infopart h2 img{
	margin:0px 20px 100px 0px;
	float:left;
}
.formpart{
	border:1px solid #ababab;
	border-radius:7px;
	padding-bottom:30px;
}
.formpart .toparea{
	background:#353942;
	border-radius:7px 7px 0px 0px;
	padding:29.7px 0px;
	text-align:center;
	font-size:16px;
	letter-spacing:0.5px;
	color:#fff;
	text-transform:uppercase;
}
.textbox{
	border:1px solid #c1c1c1;
	border-radius:5px;
	padding:18px 20px;
	margin:5px 30px;
	width:71%;
	font:13px 'Open sans';
	color:#696969;
}
select{
	background:url(../images/selectbg.jpg) no-repeat;
	border:0px;
	padding:18px 20px;
	margin:5px 30px;
	width:84%;
	font:13px 'Open sans';
	color:#aaa;
	-webkit-appearance: none;
}
.w50{
	width:50%;
	float:left;
}
.w70{
	width:70%;
	margin:0px auto;
}
.line{
	border-bottom:1px solid #d5d5d5;
	width:900px;
	margin:0px auto;
}
.clientslogo{
	width:900px;
	margin:0px auto;
	padding:20px 0px;
	font:18px 'Gadugi';
	color:#d31a2b;
	text-align:center;
}
.bluearea{
	background:#353942;
	padding:50px 60px 100px 60px;
	font:14px 'open sans';
	color:#fff;
	display:table;
}





.orange-button{
/*	width:84%;*/
	margin:10px 30px;
	border:0px;
	background-color:#f99d1c;
	font:18px 'Gadugi';
	text-decoration:none;
	color:#353942;
	font-weight:bold;
	position:relative;
	padding:15px 9px 13px 11px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 0px #84101b, 0px 3px 0px 0px #84101b;
	-moz-box-shadow: inset 0px 0px 0px #84101b, 0px 3px 0px 0px #84101b;
	-o-box-shadow: inset 0px 0px 0px #84101b, 0px 3px 0px 0px #84101b;
	box-shadow: inset 0px 0px 0px #84101b, 0px 3px 0px 0px #84101b;
	cursor:pointer;
}

.orange-button:active {
	top:3px;
	-webkit-box-shadow: inset 0px 1px 0px #ce8218, 0px 1px 0px 0px #ce8218;
	-moz-box-shadow: inset 0px 1px 0px #ce8218, 0px 1px 0px 0px #ce8218;
	-o-box-shadow: inset 0px 1px 0px #ce8218, 0px 1px 0px 0px #ce8218;
	box-shadow: inset 0px 1px 0px #ce8218, 0px 1px 0px 0px #ce8218;
}
.orange-button:active::before{
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}
.orange-button:hover,{
	opacity:0.9;
}






.orangebutton{
	position:relative;
	top:173px;
	left:-48px;
}
.orangebutton a{
	/*width:84%;*/
	margin:10px 30px;
	border:0px;
	background-color:#f99d1c;
	font-size:16px;
	text-decoration:none;
	color:#353942;
	font-weight:bold;
	padding:15px 25px 13px 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 0px #84101b, 0px 3px 0px 0px #84101b;
	-moz-box-shadow: inset 0px 0px 0px #84101b, 0px 3px 0px 0px #84101b;
	-o-box-shadow: inset 0px 0px 0px #84101b, 0px 3px 0px 0px #84101b;
	box-shadow: inset 0px 0px 0px #84101b, 0px 3px 0px 0px #84101b;
	cursor:pointer;
}
.orangebutton a:active  {
	top:3px;
	-webkit-box-shadow: inset 0px 1px 0px #ce8218, 0px 1px 0px 0px #ce8218;
	-moz-box-shadow: inset 0px 1px 0px #ce8218, 0px 1px 0px 0px #ce8218;
	-o-box-shadow: inset 0px 1px 0px #ce8218, 0px 1px 0px 0px #ce8218;
	box-shadow: inset 0px 1px 0px #ce8218, 0px 1px 0px 0px #ce8218;
}
.orangebutton a:active::before{
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}

.grey-button a{
	background:#5a5a5a;
	border-radius:7px;
	padding:8px 14px;
	color:#fff;
	text-decoration:none;
}
.grey-button a:hover{
	opacity:0.9;
}
.newmodulemain{
	background:url(../images/gaurav-module-bg.jpg) no-repeat;
	height:300px;
	width:813px;
	margin:20px auto 0px auto;
	padding:30px;
}
.newmodule{
	border:1px solid #ccc;
	border-radius:5px;
	padding:30px 20px;
	display:table;
}
.box{
	width:240px;
	float:left;
	padding:0px 40px 0px 40px;
/*	border-right:1px solid #ccc;
	margin-top:30px;*/
	font-size:14px;
	line-height:24px;
}
.box img{
	float:left;
	margin-right:20px;
}
.w410{
	width:410px;
}
.w240{
	width:240px;
}
.leftfloat{
	float:left;
}
.rightfloat{
	float:right;
}
.text{
	padding-top:8px;
}