
 <div id="downloadpopupmodal" class="modal2 hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" > 
<button type="button" data-dismiss="modal" aria-hidden="true" style="float: right;margin-right: 15px;"><a href="#" onclick="close_popup()">close</a></button>

  <div class="modal-header" style="border-bottom:0px;height:12px;">
   <h2>Business Analytics Program - Great Lakes Brochure</h2>
  </div>
  <div class="modal2-body" >
   <div data-configid="9553473/5397984" style="width: 100%; height: 100%;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
</div>
</div>

