
  <script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  </script>

  <div id="accordion">
  <h3>What is the eligibility criteria for this programme?</h3>
  <div>
    <p>
    The Post Graduate Programme in Business Analytics (PGP-BA) is an Analytics focused management programme designed and delivered by Great Lakes Institute of Management. Since this is an executive programme that prepares professionals for managerial careers in Analytics, a prior work experience of at least two years is required. However, there is no upper limit on the amount of prior work experience. 
    </p>
  </div>
  <h3>What is the programme architecture for PGP-BA?</h3>
  <div>
    <p>
    The programme duration will be for 11 months wherein the candidates would attend classes for 5 days (Friday-Tuesday) every alternate month at Great Lakes Gurgaon campus, with the remaining sessions being available online. In terms of hours, the classroom sessions across 11 months would amount to 240 hours and the online learning material would be for an other 250 hours. 
    </p>
  </div>
  <h3>What is the programme calendar for PGP-BA?</h3>
  <div>
    <p>
   The Post Graduate Programme in Business Analytics commences in November 2013 and the class shall graduate in September 2014. The six classroom contact session shall happen in the months of November'13, January'14, March'14, May'14, July'14 and September'14. The intervening months shall have online sessions for the candidates to practise, apply and pace their self learning.
    </p>
  </div>
  <h3>What is unique about the curriculum in PGP-BA?</h3>
  <div>
    <p>
   PGP-BA is unique in curriculum design on the following fronts:<br>
  :: The curriculum covers general management subjects and provides a detailed study in analytics <br>
  :: The courses are taught by eminent faculty from Great Lakes and senior executives from the analytics industry <br>
  :: The programme provides the candidates with hands on exposure to tools such as SAS, Tableau and actual industry case studies through virtual labs, assignments and project <br>
  :: The blended delivery model (classroom and online) of the programme makes it convenient for working professionals to attend classroom sessions without having to quit their jobs and also, pace their learning through online sessions.
    </p>
  </div>
  <h3>How will PGP-BA help me progress in my career?</h3>
  <div>
    <p>
    The Post Graduate Programme in Business Analytics (PGP-BA) equips you with the relevant knowledge and skills to pursue managerial careers with best of analytics companies or move the analytics roles within your existing organisation.
    </p>
  </div>
  <h3>Is PGP-BA a completely online programme?</h3>
  <div>
    <p>
   PGP-BA follows a blended learning model wherein classes are conducted at Great Lakes Gurgaon campus and also through an online learning management system.
    </p>
  </div>
  <h3>Will the programme certificates be awarded by Great Lakes?</h3>
  <div>
    <p>
    The certificates for Post Graduate Programme in Business Analytics would be awarded by Great Lakes Institute of Management.
    </p>
  </div>
  <h3>Would Great Lakes faculty be teaching in this course?</h3>
  <div>
    <p>
   The academic modules would be taught be senior faculty from Great Lakes. In addition to to Great Lakes faculty, senior leadership from the industry would also participate in delivering certain topics/modules.
    </p>
  </div>
  <h3>Where will the classes be held?</h3>
  <div>
    <p>
    The classes during the contact sessions would be conducted at Great Lakes Gurgaon campus
    </p>
  </div>
  <h3>Is PGP-BA accredited by UGC or AICTE?</h3>
  <div>
    <p>
    The format of the programme does not lend itself to accreditation from AICTE/UGC. However, Great Lakes is an AICTE accredited institution and is one of the few colleges in India to receive accreditation from AACSB. 
    </p>
  </div>
  <h3>How can I get more information on the programme?</h3>
  <div>
    <p>
    For more information on the programme or any kind of assistance, you can contact the admissions team at 0124-4934024 or 9650062121. Alternatively, you can also write to us at <a href="mailto:pgpba@greatlakes.edu.in" target="_top" style="color:#63a7c9;">pgpba@greatlakes.edu.in</a>
    </p>
  </div>
  <h3>What is the fee payment schedule for the programme?</h3>
  <div>
    <p>
    The total programme fee of Rs 3 lacs is inclusive of service tax and can be paid at one go or within the following payment schedule:
  a. Payment of Rs 50,000 at the time of acceptance of admission
  b. Payment of Rs 50,000 before commencement of programme
  c. Payment of Rs 100,000 before Dec 31st 2013
  d. Payment of Rs 100,000 before Jan 31st 2014
    </p>
  </div>
  <h3>What is the refund policy for the programme?</h3>
  <div>
    <p>
    Once an offer has been accepted and the fee has been paid, there shall be no refunds.
    </p>
  </div>
  <h3>Is accommodation also provided?</h3>
  <div>
    <p>
   Accommodation has not been included in the programme fee and can be provided at an additional cost
    </p>
  </div>
  <h3>Would I have to spend extra on books, online learning material or license fee?</h3>
  <div>
    <p>
    The cost of all requisite learning material, whether in print or online, has been covered in the programme fee 
    </p>
  </div>
  <h3>Would the content be available to me after completion of the course?</h3>
  <div>
    <p>
    We believe that learning should continue and hence, all the learning material in terms of lectures and reading content would be available to the candidates post completion of programme.
    </p>
  </div>
  <h3>How will I be evaluated during the programme?</h3>
  <div>
    <p>
    PGP-BA is designed to be a holistic and rigorous programme and follows a continuos evaluation. Every contact session would have evaluation examination in addition to the assignments and project work, which are also evaluated.
    </p>
  </div>
  <h3>Can my company sponsor me?</h3>
  <div>
    <p>
    We accept corporate sponsorships and can assist you with the process. For more information, you can write to us at <a href="mailto:pgpba@greatlakes.edu.in" target="_top" style="color:#63a7c9;">pgpba@greatlakes.edu.in</a>
    </p>
  </div>
  <h3>Will there be placements at the completion of the programme?</h3>
  <div>
    <p>
    Placement services are not a part of this programme. However, having acquired the relevant skills and knowledge most wanted by the analytics industry, are best trained to secure jobs with the best of analytics companies or growth within their existing organisations.
    </p>
  </div>
  <h3>What is the admission process?</h3>
  <div>
    <p>
All interested candidates are required to apply to the programme through the online application form. A panel of Great Lakes faculty evaluates all applications and therein, the shortlisted candidates are contacted for interviews. The interviews may be conducted in person or through telephonic or video conferencing. 
    </p>
  </div>
  <h3>How can I apply for the programme?</h3>
  <div>
    <p>
    If you are interested in the programme, you can apply through the online application form. If you need assistance from our team, write to us at <a href="mailto:pgpba@greatlakes.edu.in" target="_top" style="color:#63a7c9;">pgpba@greatlakes.edu.in </a>or call us at 0124-4934024 / 9650062121 and we shall guide you through the process.
    </p>
  </div>
 
  </div>