  <div class="navbar">
            <div class="container-fluid">
             
            <div class="nav-collapse collapse navbar-responsive-collapse">
                        <div class="header-section">
        <div class="logo"><a href="http://www.greatlakes.edu.in" target="_blank">
        	        <%= image_tag('greatlakes_logo.jpg',:width=>"173", :height=>"78") %>
</a></div>
<table cellpadding="5" style="margin:20px;float:right;"><tr><td><a href="https://classroom.beaconlearning.in/login" target="_top"><%= image_tag("lock.png", :style=>"width:40px;height:40px;")%></a></td><td><h4><a href="https://classroom.beaconlearning.in/login" target="_top">Student Login</a></h4></td></tr></table>
      </div>
          </div>
        </div>
        
      </div> 
