


 <div id="privacy" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:720px;"> 
<!-- <button type="button"  style="float: right;margin-right: 15px;"><a href="#" onclick="close_popup()">close</a></button> -->
<a title="Close" data-dismiss="modal" aria-hidden="true" class="fancybox-item fancybox-close" href="javascript:;"></a>

 <div  class="loading" style="width:655px;padding:40px;font:15px arial;line-height:22px;">
  <div class="policyinner">
    <h1>Privacy policy</h1>
    <br/>
    Great Lakes is committed to protecting your privacy. We will only use the information that we collect about you lawfully. <br/>
    <br/>
    The information we hold will be accurate and up to date. You can check the information that we hold about you by emailing us. If you find any inaccuracies we will delete or correct it promptly. <br/>
    <br/>
    The personal information which we hold will be held securely in accordance with our internal security policy and the law. </div>

</div>
</div>
